# Chapter 4 Working with lists

## 4.1 Looping through an entire list

In [1]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)

alice
david
carolina

### 4.1.1 A closer look at looping

### 4.1.2 Doing more work within a for loop

In [2]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [3]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

### 4.1.3 Doing something after a for loop

In [4]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

## 4.2 Avoiding Indentation Errors

### 4.2.1 Forgetting to indent

In [5]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
print(magician)

IndentationError: expected an indented block (2510761304.py, line 3)

### 4.2.2 Forgetting to indent additional lines

In [6]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

### 4.2.3 Indenting unnecessarily

In [7]:
message = "Hello Python world!"
    print(message)

IndentationError: unexpected indent (2495908521.py, line 2)

### 4.2.4 Indenting unnecessarily after the loop

In [8]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

    print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

Thank you, everyone. That was a great magic show!
David, that was a great trick!
I can't wait to see your next trick, David.

Thank you, everyone. That was a great magic show!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

### 4.2.5 Forgetting the colon

In [9]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians
    print(magician)

SyntaxError: invalid syntax (518316207.py, line 2)

### TRY IT YOURSELF

- pizzas.py
- animals.py

## 4.3 Making Numerical Lists

### 4.3.1 Using the range() function

In [10]:
for value in range(1, 5):
    print(value)

1
2
3
4

In [11]:
for value in range(1, 6):
    print(value)

1
2
3
4
5

In [12]:
for value in range(6):
    print(value)

0
1
2
3
4
5

### 4.3.2 Using range() to make a list of numbers

In [13]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [14]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [15]:
squares = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
squares = []
for value in range(1, 11):
    squares.append(value ** 2)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 4.3.3 Simple statistics with a list of numbers

In [17]:
digits = list(range(0, 10))
min(digits)

0

In [18]:
max(digits)

9

In [19]:
sum(digits)

45

### 4.3.4 List comprehensions

In [20]:
squares = [value ** 2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### TRY IT YOURSELF

- counting_to_twenty.py
- one_million.py
- summing_a_million.py
- odd_numbers.py
- threes.py
- cube.py
- cube_comprehension.py

## 4.4 Working with part of a list

### 4.4.1 Slicing a list

In [21]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])

['charles', 'martina', 'michael']

In [22]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[1:4])

['martina', 'michael', 'florence']

In [23]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[:4])

['charles', 'martina', 'michael', 'florence']

In [24]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[3:])

['florence', 'eli']

In [25]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[-3:])

['michael', 'florence', 'eli']

You can include a third value in the brackets indicating a slice. If a third value is included, this tells Python how many items to skip between items in the specified range

In [26]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[::2])

['charles', 'michael', 'eli']

### 4.4.3 Looping through a slice

In [27]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']

print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

### 4.4.3 Copy a list

In [28]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake']

In [29]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']

In [30]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods

my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

If we had simply set friend_foods equal to my_foods, we would not produce two separate lists.

### TRY IT YOURSELF

- slices.py
- my_pizzas_your_pizzas.py
- more_loops.py

## 4.5 Tuples

### 4.5.1 Defining a tuple

In [31]:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

In [32]:
dimensions = (200, 50)
dimensions[0] = 250

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_t = (3,)
print(my_t)

In [33]:
my_t = (3)
print(my_t)

3

Tuples are technically defined by the presence of a comma; the parentheses make them look neater and more readable. If you want to define a tuple with one element, you need to include a trailing comma.

### 4.5.2 Looping Through all in a tuple

In [34]:
dimensions = (200, 50)
for dimension in dimensions:
    print(dimension)

200
50

### 4.5.3 Writing over a tuple

In [35]:
dimensions = (200, 50)
print("Original dimensions:")
for dimension in dimensions:
    print(dimension)
    
dimensions = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
    print(dimension)

Original dimensions:
200
50

Modified dimensions:
400
100

### TRY IT YOURSELF

- buffet.py

## 4.6 Styling Your Code

### 4.6.1 The style guide

### 4.6.2 Indentation

### 4.6.3 Line Length

### 4.6.4 Blank Lines

### 4.6.5 Other style guideline

### TRY IT YOURSELF

[PEP 8](https://peps.python.org/pep-0008/)

## 4.7 Summary